ipykernel # for jupyter notebook
pandas
numpy
sentence_transformers # for sentence embeddings
umap-learn # for dimensionality reduction
hdbscan # for clustering
bertopic # for topic modeling
blingfire # for sentence tokenization
matplotlib
seaborn
plotly
wordcloud
scikit-learn 
tqdm # for progress bar
cupy-cuda12x  # For CUDA 12.x
cudf-cuda12x
cuml-cuda12x
gensim
nltk
psutil
joblib
umap-learn
